# Xcode
.DS_Store
*/[B|b]uild/*
[B|b]uild/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout
Products
Products/
Products/*
*/Products/*

Products/KMD.bundle/button_green.png

Products/KMD.bundle/button_green@2x.png

Products/KMD.bundle/button_green_down.png

Products/KMD.bundle/KMDDateCell.nib

Products/KMD.bundle/Login.storyboardc/480-5O-Kez-view-Cmv-OK-kZv.nib/runtime.nib

Products/KMD.bundle/Login.storyboardc/ChooseEnvironmentView.nib/runtime.nib

Products/KMD.bundle/Login.storyboardc/Info.plist

Products/KMD.bundle/Login.storyboardc/jZF-Ng-gQc-view-rge-K3-Ptq.nib/runtime.nib

Products/KMD.bundle/Login.storyboardc/Login.nib/runtime.nib

Products/KMD.bundle/Login.storyboardc/mkV-be-yed-view-pAy-Qx-oHd.nib/runtime.nib

Products/KMD.bundle/Login.storyboardc/UIViewController-mkV-be-yed.nib/runtime.nib

Products/KMD.bundle/Login.storyboardc/UIViewController-WMA-4e-fDA.nib/runtime.nib

Products/KMD.bundle/Login.storyboardc/480-5O-Kez-view-Cmv-OK-kZv.nib/runtime.nib

Products/KMD.bundle/Login.storyboardc/ChooseEnvironmentView.nib/runtime.nib

Products/KMD.bundle/Login.storyboardc/Info.plist

Products/KMD.bundle/Login.storyboardc/jZF-Ng-gQc-view-rge-K3-Ptq.nib/runtime.nib

Products/KMD.bundle/Login.storyboardc/Login.nib/runtime.nib

Products/KMD.bundle/Login.storyboardc/mkV-be-yed-view-pAy-Qx-oHd.nib/runtime.nib

Products/KMD.bundle/Login.storyboardc/UIViewController-mkV-be-yed.nib/runtime.nib

Products/KMD.bundle/Login.storyboardc/UIViewController-WMA-4e-fDA.nib/runtime.nib

artwork/absence/*

artwork/mileage/*

Products/KMD.bundle/Login.storyboardc/480-5O-Kez-view-Cmv-OK-kZv.nib/runtime.nib

Products/KMD.bundle/Info.plist

Products/KMD.bundle/Login.storyboardc/ChooseEnvironmentView.nib/runtime.nib

Products/KMD.bundle/Login.storyboardc/jZF-Ng-gQc-view-rge-K3-Ptq.nib/runtime.nib

Products/KMD.bundle/Login.storyboardc/Login.nib/runtime.nib

Products/KMD.bundle/Login.storyboardc/mkV-be-yed-view-pAy-Qx-oHd.nib/runtime.nib

Products/KMD.bundle/Login.storyboardc/UIViewController-mkV-be-yed.nib/runtime.nib

Products/KMD.bundle/Login.storyboardc/UIViewController-WMA-4e-fDA.nib/runtime.nib

Products/KMD.bundle/TableViewHeaderBackground@2x.png

Products/KMD.bundle/TableViewBackground@2x.png

Products/KMD.bundle/TableViewBackground@2x.png

Products/KMD.bundle/TableViewBackground@2x.png

Products/KMD.bundle/TableViewHeaderBackground.png

Products/KMD.bundle/TableViewBackground.png

Products/KMD.bundle/LoginBackground@2x.png

*.png

Products/KMD.bundle/LoginBackground.png

Products/KMD.bundle/KMDLogo.png

Products/KMD.bundle/Info_button@2.png

Products/KMD.bundle/Info_button.png

Products/KMD.bundle/button_red@2x.png

Products/KMD.bundle/button_red.png

Products/KMD.bundle/button_red_down@2x.png

Products/KMD.bundle/button_red_down.png

Products/KMD.bundle/button_green@2x.png

Products/KMD.bundle/button_green.png

Products/KMD.bundle/button_green_down@2x.png

Products/KMD.bundle/button_green_down.png
